.button {
  border: 1px solid #ccc;
  padding: 10px 10px;
  background: #f4f4f4;
  cursor: pointer;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  color: #333;
  text-decoration: none;

  &__text {
    font-size: 16px;
  }

  &__icon {
    width: 14px;
  }

  &__text + &__icon {
    margin-left: 10px;
  }

  &__icon + &__text {
    margin-left: 10px;
  }
}
