<div class="card">
  <h1>{{ title }}</h1>

  <p>Select one of the following:</p>

  <ul>
    <li>{% include 'button/next' %}</li>
    <li>{% include 'button' with { label: 'Do this!' } %}</li>
  </ul>

</div>
