* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

body {
  padding: 20px;
}

@import '../components/01-units/@button/button.scss';
@import '../components/02-patterns/@card/card.scss';
