<div class="card">
  <h2>card</h2>
  <img src="./beer.png">
  <img src="{{ img }}">
  <img src="@button/arrow-move-right.png">
  <a href="@button/prev">Go to the prev button</a>
  {% component 'button/next' %}
</div>
