.fr-layout {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  &__sidebar {
    flex: 0 1 20vw;
    min-width: 220px;
    max-width: 400px;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  &__main {
    flex: 1 1 auto;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
}
