.fr-actions {
  display: flex;
  color: #333;
  font-size: 18px;

  &__action + &__action {
    margin-left: 10px;
  }

  &__icon {
    color: #333;
    transition: all 0.15s ease-out;
  }

  &__icon:hover {
    color: #be3144;
  }

  &__label {
    display: none;
  }
}
