.fr-inspector {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  &__header {
    flex: none;
    display: flex;
    align-items: center;
    padding: 16px;
    border-bottom: 1px solid #ddd;
  }

  &__header-items {
    display: flex;
    margin-left: auto;
  }

  &__preview {
    flex: 1 1 50%;
    min-height: 40%;
    position: relative;
  }

  &__info {
    flex: 1 1 auto;
    border-top: 1px solid #ddd;
  }
}
