.fr-inspector {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: #e8ebee;
  overflow: hidden;

  // &__header {
  //   flex: none;
  //   display: flex;
  //   align-items: center;
  //   padding: 14px 0;
  //   margin: 0 12px 0 12px;
  // }
  //
  // &__title {
  //   font-size: 20px;
  // }
  //
  // &__actions {
  //   margin-left: auto;
  // }

  &__preview {
    flex: 0;
    border-bottom: 1px solid rgba(70, 81, 94, 0.25);
    background-color: #fff;
    min-height: 50%;
    position: relative;
  }

  &__info {
    flex: 1;
    background-color: #fff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    // margin: 0 12px 0 12px;
  }

  &__tabs {
    flex: none;
  }

  &__panels {
    flex: 1;
  }
}
