.fr-layout {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  &__sidebar {
    width: 280px;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  &__main {
    width: calc(100% - 280px);
    height: 100vh;
  }
}
