.fr-prose {
  > h2 {
    font-size: 22px;
    margin-bottom: 1em;
    margin-top: 1em;
  }

  > h3 {
    font-size: 20px;
    margin-bottom: 1em;
    margin-top: 1em;
  }

  > h4 {
    font-size: 18px;
    margin-bottom: 1em;
    margin-top: 1em;
  }

  ul,
  ol {
    list-style: disc;
    margin-left: 20px;
  }

  li {
    margin-bottom: 0.2em;
  }

  :first-child {
    margin-top: 0;
  }

  :last-child {
    margin-bottom: 0;
  }
}
