.card-set {
  overflow: hidden;

  &__card {
    margin-bottom: 15px;
  }

  @media all and (min-width: 780px) {
    &__cards {
      display: flex;
      list-style: none;
      margin-left: -10px;
      margin-right: -10px;
    }

    &__card {
      padding: 0 10px;
    }
  }
}
