.fr-app {

  height: 100vh;
  width: 100vw;
  padding: 0;

  &__container {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }

  &__sidebar {
    width: 260px;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    background-color: var(--sidebar-bg-color);
    color: var(--sidebar-text-color);
    a {
      color: var(--sidebar-link-color); 
    }
  }

  &__main {
    width: calc(100% - 260px);
    height: 100vh;
    position: relative;
  }

  // .loader {
  //   width: 100%;
  //   height: 100%;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   bottom: 0;
  //   z-index: 10000;
  //   background-color: rgba(255, 255, 255, 0.95);
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  // }
}
