*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: var(--font-family);
  width: 100vw;
  height: 100vh;
  color: var(--text-color);
  line-height: 1.4;
  font-size: var(--font-size);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  width: 100vw;
  height: 100vh;
}

a {
  color: var(--link-color);
  text-decoration: var(--link-decoration);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

pre {
  margin: 0;
}

pre,
code {
  font-family: var(--font-family);
}

[data-mode='build'].loading,
[data-mode='build'] .loading {
  background-color: var(--bg-color-light);
  background-image: var(--bg-icon-loader);
  background-position: center;
  background-repeat: no-repeat;
}
