.fr-error {
  padding: 20px;
  background: var(--error-bg-color);
  color: var(--error-text-color);
  overflow: auto;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  &__title {
    font-size: var(--font-size--xlarge);
  }

  &__message {
    opacity: 0.9;
    font-size: 0.9em;
  }

  &__stack {
    opacity: 0.8;
    font-family: var(--font-family--code);
    font-size: var(--font-size--code);
    white-space: pre-wrap;
    overflow: hidden;
    word-break: break-all;
  }

  &__content {
    max-width: 600px;
  }

  &--overlay {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--error-bg-color--overlay);
    z-index: 10000;
  }

  &--overlay.is-active {
    display: block;
  }
}
