.fr-page {
  width: 100%;
  height: 100%;
  font-family: var(--font-family--system);
  background-color: var(--page-bg-color);
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  &__container {
    padding: 16px 24px;
  }

  &__title {
    font-size: var(--font-size--xlarge);
    border-bottom: 1px solid var(--divider-color);
    padding-bottom: 12px;
    margin-bottom: 24px;
  }

  &__content {
    max-width: 900px;
  }
}
