.fr-proptable {
  background-color: var(--bg-color-light);
  display: table;
  font-size: 15px;
  border-collapse: collapse;

  &__row {
    display: table-row;
  }

  &__cell {
    display: table-cell;
    border: 1px solid var(--divider-color);
    padding: 3px 5px;
  }

  &__cell--fit {
    width: 1%;
    white-space: nowrap;
  }
}
