:root {
  --font-size: 16px;
  --font-size--small: 14px;
  --font-size--large: 20px;
  --font-size--xlarge: 24px;

  --font-size--code: var(--font-size--small);

  --font-family: Inter, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  --font-family--code: 'Source Code Pro', monospace;
  --font-family--system: 'system-ui', 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  --text-color: #333;
  --link-color: #0074d9;
  --link-decoration: underline;

  --bg-color-light: #fff;
  --bg-color-light-shade: #f8f8f8;
  --bg-color-dark: #303841;

  --divider-color: #ddd;

  --sidebar-width: 260px;
  --sidebar-bg-color: var(--bg-color-dark);
  --sidebar-text-color: #fff;
  --sidebar-link-color: rgba(#fff, 0.7);

  --nav-text-color: var(--sidebar-text-color);
  --nav-link-color: var(--sidebar-link-color);
  --nav-link-color--hover: var(--nav-link-color);
  --nav-link-bg--hover: rgba(70, 81, 94, 0.8);
  --nav-link-color--active: var(--sidebar-link-color);
  --nav-link-bg--active: rgba(70, 81, 94, 1);

  --page-bg-color: var(--bg-color-light);
  --panel-bg-color: var(--bg-color-light);

  --error-bg-color: rgba(154, 0, 0, 1);
  --error-bg-color--overlay: rgba(154, 0, 0, 0.95);
  --error-text-color: #fff;

  --tabs-bg-color: var(--bg-color-light-shade);
  --tabs-highlight-color--active: #333;
  --tabs-highlight-color--hover: #ccc;

  --preview-bg-color: var(--bg-color-light);
  --preview-resizer-bg-color: #eee;
}
